{% extends "base.html" %}
{% load url from future %}

{% block branding %}CSCE4350{% endblock %}
{% block pretitle %}{% endblock %}
{% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
{% block content %}
	{% block object-tools %}{% endblock %}
	<ul>
		<li>ID: {{ user_profile.id }}</li>
		<li>Email: {{ user_profile.email}}</li>
		<li>Member since: {{ user_profile.date_joined}}</li>
		<li>Phone: ** HOW2DO?! </li>
		<li>Rating: **Insert Rating here** </li>
	</ul>
{% endblock %}
{% block sidebar %}{% endblock %}