{% extends "base.html" %}
{% load url from future %}

{% block branding %}CSCE4350{% endblock %}
{% block pretitle %}{% endblock %}
{% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
{% block content %}
	{% block object-tools %}
        {% include 'profile/sidebar.html' %}
    {% endblock %}
	<ul>
		<li>ID: {{ user_profile.id }}</li>
		<li>Email: {{ user_profile.email }}</li>
		<li>Member since: {{ user_profile.date_joined }}</li>
		<li>Phone: {{ user_profile.userprofile.phone }} </li>
		<li>Rating: **Insert Rating here*** </li>
	</ul>

	<h2>Address Info</h2>
	<ul>
		<li>Ship to: {{ user_profile.first_name }} {{ user_profile.last_name }} </li>
		<li>Address 1: {{ user_profile_address.addr1 }} </li>
		<li>Address 2: {{ user_profile_address.addr2 }} </li>
		<li>City/State: {{ user_profile_address.city }}/{{ user_profile_address.state }} </li>
		<li>Zip Code: {{ user_profile_address.zipcode }} </li>
	</ul>

	<h2>Billing Info</h2>
	<ul>
		<li>Card Label: {{ user_profile_billing.description }} </li>
		<li>Name on card: {{ user_profile_billing.name }} </li>
		<li>Card #: {{ user_profile_billing.ccnum }} </li>
		<li>Card Expiration: {{ user_profile_billing.expirationm }}/{{ user_profile_billing.expirationy }} </li>
		<li>Card CCID#: {{ user_profile_billing.ccid }} </li>
	</ul>
{% endblock %}
{% block sidebar %}{% endblock %}