{% extends "profile/detail.html" %}
{% load url from future %}

{% block branding %}CSCE4350{% endblock %}
{% block pretitle %}{% endblock %}
{% block content_title %}{% if title %}<h1>{{ title }} - {{ user.username }}</h1>{% endif %}{% endblock %}
{% block breadcrumbs %}
    {{block.super}} &raquo; <a href="/profile/{{ user_profile }}/edit">{{ title }}</a>
{% endblock %}
{% block content %}
	{% block object-tools %}
        {% include 'profile/sidebar.html' %}
    {% endblock %}
	<p>Edit Profile ... eventually!</p>
{% endblock %}
{% block sidebar %}{% endblock %}