{% extends "base.html" %}
{% load url from future %}

{% block pretitle %}{% endblock %}
{% block breadcrumbs %} {{ block.super }} &raquo; <a href="/profile/">Profile</a>{% endblock %}
{% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
{% block content %}
{% block object-tools %}{% endblock %}
    {% if user_list %}
	    <ul>
	    {% for user in user_list %}
	        <li><a href="{% url 'profile:detail' user.username %}">{{ user.username }}</a></li>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No users are available.</p>
	{% endif %}
{% endblock %}
{% block sidebar %}{% endblock %}