{% extends "profile/detail.html" %}
{% load url from future %}

{% block pretitle %}{% endblock %}
{% block breadcrumbs %} {{ block.super }} &raquo; <a href="/profile/{{ user_profile.username }}/products">{{ title }}</a>{% endblock %}
{% block content_title %}{% if title %}{{ title }} - {{ user_profile.username }}{% endif %}{% endblock %}
{% block content %}
	{% block object-tools %}
        <ul class="object-tools">
            <li><a href="/shop/add/" class="addlink">Add Product</a></li>
        </ul>
    {% endblock %}
	{% if products|length > 0 %}
        <p>Found {{ products|length }} product{{ products|pluralize }}.</p>
         <table>
            {% for product in products %}
                {% cycle 'row_odd' 'row_even' as rowcolors silent %}
                <tr class="{{ rowcolors }}">
                    <td>
                        <strong><a href="/shop/{{ product.id }}">{{ product.title }}</a></strong><br /><i>{{ product.description|truncatechars:50 }}</i>
                    </td><td>
                        <i>Condition:<br />{{ product.get_condition_display }}</i>
                    </td><td>
                        <strong>${{ product.price }}</strong><br />&nbsp;</i>
                    </td><td>
                        <a href="/shop/{{product.id}}/edit/" class="changelink">edit</a><br />
                        <a href="/shop/{{product.id}}/deactivate/" class="deletelink">remove</a>
                    </td>
                </tr>
            {% endfor %}
         </table>
    {% else %}
        <p>No Products found for {{ user_profile.username }}.</p>
    {% endif %}
{% endblock %}
{% block sidebar %}{% endblock %}