{% extends "profile/detail.html" %}
{% load url from future %}

{% block branding %}CSCE4350{% endblock %}
{% block pretitle %}{% endblock %}
{% block content_title %}{% if title %}<h1>{{ title }} - {{ user.username }}</h1>{% endif %}{% endblock %}
{% block breadcrumbs %}
    {{block.super}} &raquo; <a href="/profile/{{ user_profile }}/products">{{ title }}</a>
{% endblock %}
{% block content %}
	{% block object-tools %}
        {% include 'profile/sidebar.html' %}
    {% endblock %}
	{% if products|length > 0 %}
        <p>Found {{ products|length }} product{{ products|pluralize }}.</p>
         <table>
            {% for product in products %}
                {% cycle 'row_odd' 'row_even' as rowcolors silent %}
                <tr class="{{ rowcolors }}">
                    <td>
                        <strong><a href="/shop/{{ product.id }}">{{ product.title }}</a></strong><br /><i>{{ product.description|truncatechars:50 }}</i>
                    </td><td>
                        <strong>${{ product.price }}</strong><br />&nbsp;</i>
                    </td><td>
                        <a href="/shop/{{ product.id }}/edit/">edit</a><br /><a href="/shop/{{ product.id }}/deactivate/">deactivate</a>
                    </td>
                </tr>
            {% endfor %}
         </table>
    {% else %}
        <p>No Products found for {{ user_profile.username }}.</p>
    {% endif %}
{% endblock %}
{% block sidebar %}{% endblock %}