{% extends "profile/detail.html" %}
{% load url from future %}

{% block pretitle %}{% endblock %}
{% block breadcrumbs %} {{ block.super }} &raquo; <a href="/profile/{{ user_profile.username }}/rate">{{ title }}</a>{% endblock %}
{% block content_title %}{% if title %}<h1>{{ title }} - {{ user_profile.username }}</h1>{% endif %}{% endblock %}
{% block content %}
{% block object-tools %}{% endblock %}
<form action="/profile/{{ user_profile.username }}/rate/" method="post">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
{% if variables %}<h1>Variables</h1>{{ variables }}{% endif %}
{% endblock %}
{% block sidebar %}{% endblock %}