{% extends "shop/index.html" %}
{% load url from future %}

{% block pretitle %}{% endblock %}
{% block breadcrumbs %}{{ block.super }} &raquo; 
    {% if pcategory %}
        <a href="/shop/{{ pcategory }}/">{{ pcategory }}</a> &raquo; <a href="/shop/{{ pcategory }}/{{ category }}/">{{ category }}</a>
    {% else %}
        <a href="/shop/{{ category }}/">{{ category }}</a>
    {% endif %}
{% endblock %}
{% block content %}
{% block object-tools %}{% endblock %}
    <table>
        {% for product in products %}
            {% cycle 'row_odd' 'row_even' as rowcolors silent %}
            {% comment %}
	            This should work, but doesn't, so fkit
	            <tr class="{{ rowcolors }}">{% include "shop/product_td.html " %}</tr>
            {% endcomment %}
            <tr class="{{ rowcolors }}">
            	<td>
				    <strong><a href="/shop/{{product.id}}">{{product.title}}</a></strong><br />
                    <i>{{product.description|truncatechars:50}}</i>
				</td><td>
                    Condition:<br />{{ product.get_condition_display }}</i>
                </td><td>
				    <strong>${{product.price}}</strong><br />
                    <i><a href="/profile/{{product.user}}">{{product.user}}</a></i>
				</td><td>
                    <a href="/shop/{{ product.id }}/buy/" class="addlink">buy</a><br />
                    {% if product.user_watch_lists %}
                        <a href="/shop/watch/{{ product.id }}/ignore/" class="deletelink">ignore</a>
                    {% else %}
                        <a href="/shop/watch/{{ product.id }}/add/" class="addlink">watch</a>
                    {% endif %}
                </td>
			</tr>
        {% endfor %}
    </table>
{% endblock %}