{% extends "base.html" %}
{% load url from future %}

{% block pretitle %}{% endblock %}
{% block breadcrumbs %}{{ block.super }} &raquo; <a href="/shop/">Shop</a>{% endblock %}
{% block content %}
    {% block object-tools %}{% endblock %}
    <div id="formsearch">
    <form action="/shop/" method="get">
        <input type="text" name="q">
        <input type="submit" value="Shop">
    </form>
    </div>
    {% if search %}
        <strong>{{ search.name }}</strong>
        <h2>Results</h2>
        {% if products %}
            <p>Found {{ products|length }} product{{ products|pluralize }}.</p>
             <table>
                {% for product in products %}
                    {% cycle 'row_odd' 'row_even' as rowcolors silent %}
                    <tr class="{{ rowcolors }}">
                        <td>
                            <strong><a href="/shop/{{product.id}}/">{{product.title}}</a></strong><br />
                            <i>{{product.description|truncatechars:50}}</i>
                        </td><td>
                            Condition:<br /> {{product.condition}}</i>
                        </td><td>
                            <strong>${{product.price}}</strong><br />
                            <i><a href="/profile/{{product.user}}">{{product.user}}</a></i>
                        </td><td>
                            <a href="/shop/{{ product.id }}/buy/" class="addlink">buy</a><br />
                            <a href="/shop/watch/{{ product.id }}/add/" class="addlink">watch</a> (doesn't toggle yet)
                        </td>
                    </tr>
                {% endfor %}
             </table>
        {% else %}
            <p>No products matched your search criteria.</p>
        {% endif %}
    {% else %}
        {% regroup category by pid as category_by_pid %}
        <table>
        <tr class="{{ rowcolors }}">
        <td>
        {% with count=0 col=1 %}    
        {% for p in category_by_pid %}
            {% if p.grouper %}
                {% count=count|add:"1" %}
                {% if col == 1 and count == 4 %}</td><td>{% col=col|add:"2" %}{% endif %}
                {% if col == 2 and count == 8 %}</td><td>{% col=col|add:"3" %}{% endif %}
                <h2><a href="/shop/{{ p.grouper }}/">{{ p.grouper }}</a></h2>
                <ul>
                    {% for c in p.list %}
                        <li><a href="/shop/{{ p.grouper }}/{{ c.name }}/">{{ c.name }}</a></li>
                    {% endfor %}       
                </ul>
            {% endif %}
        {% endfor %}
        {% endwith %}
        </td>
        </tr>    
        </table>
    {% endif %}
{% endblock %}
{% block sidebar %}{% endblock %}