{% extends "index.html" %}
{% load url from future %}

{% block pretitle %}{% endblock %}
{% block breadcrumbs %}{{ block.super }} &raquo; <a href="/shop/">Shop</a>{% endblock %}
{% block content %}
    {% block object-tools %}{% endblock %}
    <div id="right_bar">
    <form action="/shop/" method="get">
        <input type="text" name="q">
        <input type="submit" value="Shop">
    </form>
    </div>
    {% if search %}
        <strong>{{ search.name }}</strong>
        <h2>Results</h2>
        {% if products %}
            <p>Found {{ products|length }} product{{ products|pluralize }}.</p>
             <table>
                {% for product in products %}
                    {% cycle 'row_odd' 'row_even' as rowcolors silent %}
                    <tr class="{{ rowcolors }}">
                        <td>
                            <strong><a href="/shop/{{product.id}}/">{{product.title}}</a></strong><br />
                            <i>{{product.description|truncatechars:50}}</i>
                        </td><td>
                            Condition:<br />
                            <i>{{product.get_condition_display}}</i>
                        </td><td>
                            <strong>${{product.price}}</strong><br />
                            <i><a href="/profile/{{product.user}}">{{product.user}}</a></i>
                        </td><td>
                            <a href="/shop/{{ product.id }}/buy/" class="addlink">buy</a><br />
                            {% if product.user_watch_lists %}
                                <a href="/shop/watch/{{ product.id }}/ignore/" class="deletelink">ignore</a>
                            {% else %}
                                <a href="/shop/watch/{{ product.id }}/add/" class="addlink">watch</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
             </table>
        {% else %}
            <p>No products matched your search criteria.</p>
        {% endif %}
    {% endif %}
{% endblock %}
{% block sidebar %}{% endblock %}