{% extends "base.html" %}
{% load url from future %}

{% block pretitle %}{% endblock %}
{% block breadcrumbs %}{{ block.super }} &raquo; <a href="/product/">{{ title }}</a>{% endblock %}
{% block content %}
    {% block object-tools %}
        <ul class="object-tools">
            {% if user.is_active %}
            <li><a href="/shop/{{product.id}}/watch/" class="addlink">Watch</a></li>
            {% endif %}
        </ul>
    {% endblock %}
    <ul>
        <li>Seller: <a href="/profile/{{ product.user }}">{{ product.user }}</a></li>
        <li>Price: {{ product.price }}</li>
        <li>Condition: {{ product.condition }}</li>
        <li>Code: {{ product.code }}</li>
        <li>Shipping Method: {{ product.shiptype }}</li>
        <li>Shipping Fee: {{ product.shipfee }}</li>
        <li>Posted: {{ product.pub_date }}</li>
    </ul>
    {{ product.description }}
{% endblock %}
{% block sidebar %}{% endblock %}