{% extends "shop/product.html" %}
{% load url from future %}

{% block pretitle %}{% endblock %}
{% block breadcrumbs %}{{ block.super }} &raquo; <a href="/shop/{{product.id}}/buy/">Buy</a>{% endblock %}
{% block content %}
    {{ block.super }}
    {% block object-tools %}{% endblock %}

    <h2>Address</h2>
    {{user.address}}
    <form action="/shop/{{product.id}}/buy/" method="post">{% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}