{% load admin_static %}{% load url from future %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
<link rel="stylesheet" type="text/css" href="{% static "/css/csce4350.css" %}" />
    
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        <div id="branding">
        {% block branding %}<h1>CSCE 4350 Project Site</h1><div id="slogan">Database Design</div>{% endblock %}
        </div>
        {% if user.is_active %}
            <div id="user-tools">
                {% trans 'Welcome,' %}
                <strong>{% filter force_escape %}{% firstof user.first_name user.username %}{% endfilter %}</strong>.
                {% block userlinks %}
                    {% url 'django-admindocs-docroot' as docsroot %}
                    {% if user.is_staff %}
                        <a href="/admin/">{% trans 'Admin' %}</a> |
                        {% if docsroot %}
                            <!-- <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> | -->
                        {% endif %}
                   {% endif %}
                    <a href="/profile/{{ user.username }}/">{% trans 'Profile' %}</a> |
                    <a href="/account/logout/">{% trans 'Log out' %}</a><br />
                    <a href="/shop/watch/">{% trans 'Watch List' %}</a>
                {% endblock %}
            </div>
        {% else %}
            <div id="user-tools">
                <form id="login" method="post" action="/account/login/?next={{ next|default:"/" }}">{% csrf_token %}
                    <label>Username <input id="id_username" type="text" name="username" maxlength="30"></label>
                    <label>Password <input type="password" name="password" id="id_password"></label>
                    <input type="submit" class="submit" value="Login">
                </form>
                <br /><div id="login_banner"><a href="/accounts/register/">Register</a></div>
            </div>
        {% endif %}
        {% block nav-global %}{% endblock %}
    </div>
    <!-- END Header -->
    <div class="breadcrumbs">
        {% block breadcrumbs %}<a href="{% url 'index' %}">{% trans 'Home' %}</a>{% endblock %}
    </div>
    {% endif %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        <h1 id="content_title">{% block content_title %}{% if title %}{{ title }}{% endif %}{% endblock %}</h1>
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>
